<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit
	backupGlobals="false"
	backupStaticAttributes="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	bootstrap="tests/bootstrap.php">

	<testsuites>
		<testsuite name="Project Test Suite">
			<directory>tests</directory>
		</testsuite>
	</testsuites>

	<php>
		<server name="SYMFONY_PHPUNIT_VERSION" value="4.8" />
	<!--
		<ini name="date.timezone" value="UTC" />
		<server name="KERNEL_DIR" value="/path/to/your/app/" />
		<env name="KERNEL_CLASS" value="App\Kernel"/>
	-->
	</php>

	<!-- for code coverage -->
	<filter>
		<whitelist>
			<directory>.</directory>
			<exclude>
				<directory>tests</directory>
				<directory>vendor</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
